body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
}

input[type="text"], select {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.category {
    margin-top: 20px;
}

h2 {
    cursor: pointer;
    margin: 0;
}

.task-list {
    display: none; /* Começa oculto até que a categoria seja clicada */
    margin-top: 10px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2e2e2e;
    border-radius: 5px;
    margin-bottom: 10px;
}

.task-text {
    flex: 1;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

.delete-btn {
    background-color: red; /* Cor do botão de excluir */
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: darkred; /* Cor do botão de excluir ao passar o mouse */
}
